.container{
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    /* justify-content: center; */
    background-color: blanchedalmond;
    height: 500px;
    width: 100%;
}

.container .box{
    width: 100px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    background-color: chartreuse;
    border: 1px solid red;
}

.navbar{
    height: 77px;
    width: 100%;
    border: 1px solid red;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

 .logo{
    padding: 10px;
    margin: 10px;
    font-size: 28px;
}


.nav-items{
    display: flex;
    padding: 10px;
}


.nav-items .box{
    padding: 10px;
    font-size: 20px;
}


.social-icons{
    display: flex;
}
.social-icons i{
    padding: 5px;
    font-size: 20px;
}