h1{
    padding: 10px;
    margin: 10px;
    font-size: 50px;
    text-align: center;
}

.images img{
    width: 250px;
    height: 350px;
    margin: 18px;
}

.images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    padding: 10px;
    
}

@media(max-width: 1024px){
    .images{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 768px) {
    .images{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 500px){
    .images{
        grid-template-columns: repeat(1,1fr);
    }
    .images img{
        width: 90%;
        height: 500px;
    }
}